<!DOCTYPE html>
<html>
<head>
	<title>Bitcoin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
	.main{
		margin-top: 40px;

	}
	.price{
		margin-top: 40px;
		font-size: 50px;
		font-family: fantasy;
	}
</style>
<body>
<div class="container main">
	 <div class="row">
	 	<div class="col-xs-12">
	 		<center>
	 			<img src="static/b1.jpeg" class="img-responsive" height="500" width="500">
	 		</center>
	 	</div>
	 </div>
</div>
<hr>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<center>
				<p class="price"><b>$ {{v}}</b></p>
			</center>
		</div>
	</div>
</div>
<hr>
<div class="container main">
	<div class="row">
		<div class="col-xs-12">
			<center><a href="https://bitcoin.org/en/faq"><b>For more details...</b></a></center>
		</div>
	</div>
</div>
</body>
</html>